In [9]:
import pandas as pd
import numpy

In [14]:
image = [r".\images\1.png", r".\images\2.png",r".\images\3.png",
         r".\images\4.png",r".\images\5.png",r".\images\6.png"]

In [15]:
images_dictionary = {'image': image}

images_dictionary

{'image': ['.\\images\\1.png',
  '.\\images\\2.png',
  '.\\images\\3.png',
  '.\\images\\4.png',
  '.\\images\\5.png',
  '.\\images\\6.png']}

In [16]:
# создание дата фрейма
images_df = pd.DataFrame(images_dictionary)
images_df

            image
0  .\images\1.png
1  .\images\2.png
2  .\images\3.png
3  .\images\4.png
4  .\images\5.png
5  .\images\6.png

In [7]:
images_df_2 = pd.DataFrame([{'id': 1,
                             'image': r".\images\1.png"}])
images_df_2

   id           image
0   1  .\images\1.png

In [17]:
# запись в csv
images_df.to_csv('jp_images.csv',
                    index=True)